<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    colors="true"
    bootstrap="./vendor/autoload.php"
	type="coverage-text" target="reports/" charset="UTF-8">
	
    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">C:\wamp\bin\php\php-5.6.15\phpunit\php\handle_problem7.php</directory>
		</whitelist>
	</filter>
</phpunit>